<!doctype html>
<html lang="en">
  <head>
    {% include 'favicon.html' %}
    {% block head %}
    {% endblock %}

    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.locale(auto_detect=True) }}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% block styles %}
      {{ bootstrap.load_css() }}
    {% endblock %}

    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-10">
          {% include 'menu.html' %}
        </div>
        <div class="col-4">
          {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}

          {% block body %}
          {% endblock %}
        </div>
      </div>
    </div>

    {% block scripts %}
    <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    {% endblock %}

  </body>
</html>