{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Flask Blog{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div>
    {% if current_user.can(Permission.WRITE) %}
    {{ render_form(form) }}
    {% endif %}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a {% if not show_followed %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a {% if show_followed %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
<br>
{{ render_pagination(pagination, '.index') }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}